{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {% block titulo %}
            Especificacion PC
        {% endblock titulo %}

    </title>
</head>

<body>
    <main>
        {% block body %}
        <div class="container">
            
            
            <h1 style="text-align:center;">PCs de la Farmacia "nombre de la farmacia"</h1>
            <div class="table-responsive-sm"></div>
            
            <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Volver</button></a>

                <br>
                <br>

            <table class="table table-light  table-hover table-bordered border-dark">
                <thead>
                {% for pc in computadoras %}
                
                    <tr class="table-success">
                        <th></th>
                
                        <th style="text-align:left;">Relevamiento - Fecha: </th>
                        <th>{{ pc.fehca_relevamiento }}</th>
                        <th></th>
                        
                    </tr>


                </thead>
                <tbody>
                    <tr style="font-weight: 700;">
                        <td></td>
                        
                        <td >Nombre PC: </td>
                        <td>{{pc.nombre_pc}}</td>
                        <td></td>
                        
                    </tr>
                    <tr class="table-info">
                        
                        <th></th>
                        <th>ANYDESK</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr>
                        <th>ID AnyDesk:</th>
                        <td>{{pc.id_AnyDesk}}</td>
                        <td></td>
                        <td></td>
                        
                    </tr>
          
                    <tr class="table-info">
                        
                        <th></th>
                        <th>INFORMACION IP</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>IP privada:</th>

                        <td>{{pc.ip}}</td>
                        <th>IP publica:</th>
                        <td>{{pc.ip_publica}}</td>
                        
                    </tr>
                   
                    <tr class="table-info">
                        <th></th>
                        <th>SISTEMA</th>
                       
                        <TH></TH>
                        <TH></TH>
                        
                    </tr>

                    <tr>
                        <th>Arquitectura: </th>
                        <td>{{pc.arquitectura_so}}</td>
                        <th>Version:</th>
                        <td>{{pc.version_so}}</td>
                        

                    </tr>
                    <tr class="table-info">
                       
                        <th></th>
                        <th>HARDWARE</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr class="table-secondary">
                        <th>Tipo de maquina:</th>
                        <th>Procesador:</th>
                        <th>Cores fisicos:</th>
                        <th>Cores totales:</th>
                        
                    </tr>
                    <tr>
                        <td> {{pc.tipo_maquina}}</td>
                        <td> {{pc.procesador}}</td>
                        <td> {{pc.cores_fisicos}}</td>
                        <td> {{pc.cores_totales}}</td>
                        
                    </tr>
                 
                    <tr class="table-info">
                        
                        <th></th>
                        <th>MEMORIA RAM</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr class="table-secondary">
                        <th>Memoria RAM total:</th>
                        <th>Memoria RAM usada: </th>
                        <th>Memoria RAM disponible:</th>
                        <th>Porsentaje de memoria RAM usado:</th>
                        
                    </tr>
                    <tr>
                        <td> {{pc.RAM_tot}}</td>
                        <td>{{pc.RAM_usada}}</td>
                        <td> {{pc.RAM_disponible}}</td>
                        <td> {{pc.RAM_procentaje_disponible}}</td>
                        
                    </tr>
                   
                    <tr class="table-info">
                        
                        <th></th>
                        <th>MEMORIA EN DISCO</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr class="table-secondary">
                        <th></th>
                        <th>Disco:  C</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr class="table-secondary">
                        
                        <th>Espacio total en disco:</th>
                        <th>Espacio usado en disco:</th>
                        <th>Espacio libre en disco: </th>
                        <th>Procentage utilizado:</th>
                    </tr>
                    <tr>
                        
                        <td>{{pc.espacio_tot_C}}</td>
                        <td>{{pc.espacio_usado_C}}</td>
                        <td>{{pc.espacio_disponible_C}}</td>
                        <td>{{pc.procentaje_disponible_C}}</td>
                    </tr>
                    <tr class="table-secondary">
                       
                        <th></th>
                        <th>Disco:  D</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                    <tr class="table-secondary">
                        <th>Espacio total en disco:</th>
                        <th>Espacio usado en disco:</th>
                        <th>Espacio libre en disco: </th>
                        <th>Procentage utilizado:</th>
                    </tr>
                    <tr>
                        <td>{{pc.espacio_tot_C}}</td>
                        <td>{{pc.espacio_usado_C}}</td>
                        <td>{{pc.espacio_disponible_C}}</td>
                        <td>{{pc.procentaje_disponible_C}}</td>
                    </tr>
                    <tr class="table-danger">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                </tbody>
               
                
            
            {% endfor %}
            </table>
       
        </div>
        
        </div>
         
        {% endblock body %}
    </main>
</body>

</html>