{% extends 'index.html' %}
<!doctype html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        lista-farmacias
        {% endblock titulo %}
    </title>
</head>

<body>
    <main>
        {% block body %}

        <div class="container">


            <div class="container">
                <div class="well">
                    <h1 id="tituloListas">Farmacias</h1>
                </div>

                {% if fcias %}

                <div style="margin: 50px;" class="table-responsive-sm">
                  

                    <br>
                    <br>
                    <div class="table-responsive-sm">
                        <table class="table table-light table-striped table-hover">
                            
                            <thead>
                                <tr>

                                    <th>ID Farmacia</th>
                                    <th>Nombre de la Fcia</th>
                                    <th>Dirección</th>
                                    <th>IP</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for far in fcias %}

                                <tr>
                                    <td>{{far.id_farmacia}}</td>
                                    <td>{{far.nombre_facia}}</td>
                                    <td>{{far.direccion}}</td>
                                    <td>{{far.ip_id}}</td>


                                    </td>

                                </tr>
                                           {% endfor %}
                            </tbody>
                        </table>
                    </div>

         

                    {% else %}
                    <h2>No hay Farmacias para mostrar</h2>
                    {% endif %}
                </div>

<!--Porque alguien rompio el proyecto-->


<!--Hasta acá es la nueva tabla-->
                {% endblock body %}


    </main>

</body>

</html>