{% extends 'index.html' %}
<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            lista-farmacias 2.0
        {% endblock titulo %}
    </title>
   
</head>
<body>
    <main>  
        {% block body %}
        <div class="container">
            <!--Para la nueva organizacion de las farmacias-->
            <div>
                <br>
                <h1 style="text-align: center;font-size: 40px; ">Lista de Farmacias</h1>
                <br>
            </div>

           <div  class="container">
                <div class="row">
                    <div class="col-md-12 search">
                        <form method="GET">
                            <div id="custom-search">
                                <div  class="input-group col-md-12">
                                        <input style="text-align: center; font-weight: bold;"  type="text" class="form-control" placeholder="Buscar" name="buscar">
                                        <span class="input-gruop-list">    
                                            <button type="submit" class="btn btn-success"><i class="fas fa-search fa-sm"></i></button>
                                        </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<br>

            <div class="table-responsive-sm">
                <table class="table table-light table-hover border-top-0 border-white border border-2 ">
                    {% for prov in provincias %}
                        {% if prov.estado == 1 %}
                    <thead> 
                        <tr class="table-success">    
                            <th></th><th></th>
                                <th style="font-size: 40px;" >Provincia: {{prov.descripcion}}</th>
                            <th></th><th></th>
                    </thead>
                    <tbody>
                            {% for loc in localidades %}
                                {% if loc.id_provincia_id_id == prov.id_provincia %}
                                    <tr class="table-secondary"> 
                                    <th></th>
                                    <td style="font-size: 30px; font-weight: bold">{{loc.descripcion}}</td>
                                    <th></th>
                                    <th></th>
                                    <th></th> </tr>
                                    <tr style="font-weight: 700;" class="table-secondary">
                                        <td>ID</td>
                                        <td>nombre</td>
                                        <td>dirección</td>
                                        <td>IP</td>
                                        <td>PCs</td>
                                    </tr>
                                    {% for fcia in farmacias %}
                                        {% if fcia.id_localidad_id == loc.id_localidad %}
                                            <tr>
                                                <td>{{fcia.id_farmacia}}</td>
                                                <td>{{fcia.nombre_facia}}</td>
                                                <td>{{fcia.direccion}}</td>
                                                <td>{{fcia.ip_id}}</td>
                                                <td>
                                                    <a class="button"  href="#">
                                                        <span class="fas fa-desktop"></span>
                                                        </a>                                               
                                                </td>
                                               
                                             </tr>
                                        {% endif %}
                                    {% endfor %}
                        </tr>
                                 {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock body %}
    </main>
</body>
</html>
