{% extends "principal.html" %} <!-- hereda la estructura base-->

{% block title %} 
    JUFEC.sa
{% endblock %}

{% comment %} zona que cambia {% endcomment %}
{% block content %}
    <h3>Presentación Jufec. s.a.</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QRJinFufOo0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
{% endblock %}