{% extends 'index.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>

    <title>
       {% block titulo %}
       Login
       {% endblock titulo %}
      </title>
</head>
<body>
<main>
   {% block nav %}
      <h1>acceder</h1>
   {% endblock nav %}

   {% block body %}
    <div>
        <h1 style="color: white;">login</h1>
     </div>
     <div style="background-color: rgb(200, 233, 248);"class="sidenav">
        
     </div>
    <div class="main col-auto text-center">
        <div>
            <div class="login-form">
             <h2>Acceso para el personal</h2>
               <form method="POST">
                  {% csrf_token %}
                  <div  class="mx-auto" style="width: 300px;">
                        {{form|crispy}}
                    </div>
                  <button style="margin-top: 30px;" type="submit" class="btn btn-success">Entrar</button>
               </form>
            </div>
         </div>
      </div>
      {% endblock body %}
</main>

</body>
</html>